/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/** 
/ Palette
// -------

@turquoise:        #1abc9c;
@green-sea:        #16a085;

@emerald:          #2ecc71;
@nephritis:        #27ae60;

@peter-river:      #3498db;
@belize-hole:      #2980b9;

@amethyst:         #9b59b6;
@wisteria:         #8e44ad;

@wet-asphalt:      #34495e;
@midnight-blue:    #2c3e50;

@sun-flower:       #f1c40f;
@orange:           #f39c12;

@carrot:           #e67e22;
@pumpkin:          #d35400;

@alizarin:         #e74c3c;
@pomegranate:      #c0392b;

@clouds:           #ecf0f1;
@silver:           #bdc3c7;

@concrete:         #95a5a6;
@asbestos:         #7f8c8d;


**/
/**
@baseColor1: #8e44ad; 
@baseColor2: #2c3e50;

**/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/*#627cb7*/
.country-list {
  margin-top: 5px;
  display: block;
  float: left;
  min-height: 300px;
  max-height: 440px;
  overflow-y: auto;
  padding: 10px;
}
.country-list ul {
  list-style-type: none;
}
.country-list ul li {
  font-size: 12px;
  padding: 2px;
  cursor: pointer;
}
.country-list ul li span {
  margin-right: 5px;
}
.datamaps-subunit {
  /**  transition: fill .7s ease;
   animation-direction: alternate;**/
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
