.xxx-large {
  height: 650px;
  overflow-y: auto;
}
.xx-large {
  height: 550px;
  overflow-y: auto;
}
.x-large {
  height: 450px;
  overflow-y: auto;
}
.large {
  height: 350px;
  overflow-y: auto;
}
.auto {
  height: auto;
  overflow-y: auto;
}
.medium {
  height: 250px;
  overflow-y: auto;
}
.small {
  height: 150px;
  overflow-y: auto;
}
