<div class="container-fluid">
    <div class="row">
        <form name="form" ng-submit="submitForm(form.$valid)" novalidate>
            <div class="col-md-4">
                Indicator Group 
                <button type="submit" ng-disabled="!form.$valid" class="btn btn-primary pull-right">
                    Submit
                </button>
                <hr />
                <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                    <label>Name*</label>
                    <input name="name" class="form-control" ng-model="data.group.name" required />
                    <p class="help-block">Name is required.</p>
                </div>
                <div class="form-group">
                    <label>Description </label>
                    <textarea class="form-control" ng-model="data.group.description"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                Indicators - {{ data.list.length }} (Click indicator to add)
                <hr />
                <input type="text" class="form-control" ng-model="listSearchText" />
                <ul class="list-group large">
                    <li class="list-group-item" ng-click="select(row.id)" ng-repeat="row in data.list | filter: { selected: '!true' } | filter : listSearchText">{{ row.name }}</li>
                </ul>
            </div>
            <div class="col-md-4">
                Selected Indicator (Click indicator to remove)
                <hr />
                <input type="text" class="form-control" ng-model="selectedListSearchText" />
                <ul class="list-group large">
                    <li class="list-group-item" ng-click="deselect(row.id)" ng-repeat="row in data.list | filter: { selected: true} | filter : selectedListSearchText">{{ row.name }}</li>
                </ul>
            </div>
        </form>
    </div>
</div>