<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Country</th>
            <th ng-repeat="indicator in response.geoindicators.list"><a tooltip-animation="false" tooltip="{{ indicator.name }}" tooltip-placement="left">{{ indicator._label }}</a></th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="geography in data.values.geographies | orderBy:predicate:false">
        <td>{{$index + 1}}</td>
        <td>{{ geography.name }}</td>
        <td ng-repeat="indicator in response.geoindicators.list" ng-init="i = getGeographyIndicator(geography, indicator)" style="background-color: rgba(52, 152, 219, {{ i.score/indicator.maxScore}});">
			{{ i.value | number }}
		</td>
        <td ng-init="" style="background-color: rgba(52, 152, 219, {{ getScore(geography)/data.maxGeoScore}});">{{ getScore(geography) | number:2 }}</td>
    </tr>
    </tbody>
</table>