/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/** 
/ Palette
// -------

@turquoise:        #1abc9c;
@green-sea:        #16a085;

@emerald:          #2ecc71;
@nephritis:        #27ae60;

@peter-river:      #3498db;
@belize-hole:      #2980b9;

@amethyst:         #9b59b6;
@wisteria:         #8e44ad;

@wet-asphalt:      #34495e;
@midnight-blue:    #2c3e50;

@sun-flower:       #f1c40f;
@orange:           #f39c12;

@carrot:           #e67e22;
@pumpkin:          #d35400;

@alizarin:         #e74c3c;
@pomegranate:      #c0392b;

@clouds:           #ecf0f1;
@silver:           #bdc3c7;

@concrete:         #95a5a6;
@asbestos:         #7f8c8d;


**/
/**
@baseColor1: #8e44ad;
@baseColor2: #2c3e50;

**/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/*#627cb7*/
table.matrix.table-bordered {
  border: 0px !important;
  border-top: 0px;
}
table.matrix {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  /*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
  /*
   The ng-enter-active and ng-move-active
   are where the transition destination properties
   are set so that the animation knows what to
   animate.
  */
  /*
    We're using CSS keyframe animations for when
    the leave event is triggered for the element
    that has the .repeated-item class
  */
  /*
    Unfortunately each browser vendor requires
    its own definition of keyframe animation code...
  */
}
table.matrix td {
  border: 0px !important;
  border-top: 0px;
  height: 100px;
  vertical-align: middle !important;
  text-align: center;
  width: 33% !important;
}
table.matrix td .label {
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: 120%;
}
table.matrix tr.header td,
table.matrix td.header {
  width: auto !important;
  height: auto !important;
  font-size: 20px;
  border: 0px;
  padding: 5px;
}
table.matrix .label-default {
  background-color: transparent;
  cursor: pointer;
  color: #fff;
}
table.matrix td {
  border: 0px;
  height: 200px;
}
table.matrix .rotate {
  transform: translate(0, 0) rotate(270deg);
  display: block;
}
table.matrix .pos-3-3 {
  background-color: #9bc213;
}
table.matrix .pos-3-2 {
  background-color: #d1f065;
}
table.matrix .pos-2-3 {
  background-color: #d1f065;
}
table.matrix .pos-3-1 {
  background-color: #ffdd87;
}
table.matrix .pos-2-2 {
  background-color: #ffce54;
}
table.matrix .pos-1-3 {
  background-color: #ffdd87;
}
table.matrix .pos-1-1 {
  background-color: #dd171e;
}
table.matrix .pos-1-2 {
  background-color: #eb3c42;
}
table.matrix .pos-2-1 {
  background-color: #eb3c42;
}
table.matrix .repeated-item.ng-enter,
table.matrix .repeated-item.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}
table.matrix .repeated-item.ng-enter.ng-enter-active,
table.matrix .repeated-item.ng-move.ng-move-active {
  opacity: 1;
}
table.matrix .repeated-item.ng-leave {
  -webkit-animation: 0.5s my_animation;
  -moz-animation: 0.5s my_animation;
  -o-animation: 0.5s my_animation;
  animation: 0.5s my_animation;
}
@keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*
 We're using CSS transitions for when
 the enter and move events are triggered
 for the element that has the .repeated-item
 class
*/
.repeated-item.ng-enter,
.repeated-item.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}
/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity: 1;
}
/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation: 0.5s my_animation;
  -moz-animation: 0.5s my_animation;
  -o-animation: 0.5s my_animation;
  animation: 0.5s my_animation;
}
@keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
