/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/** 
/ Palette
// -------

@turquoise:        #1abc9c;
@green-sea:        #16a085;

@emerald:          #2ecc71;
@nephritis:        #27ae60;

@peter-river:      #3498db;
@belize-hole:      #2980b9;

@amethyst:         #9b59b6;
@wisteria:         #8e44ad;

@wet-asphalt:      #34495e;
@midnight-blue:    #2c3e50;

@sun-flower:       #f1c40f;
@orange:           #f39c12;

@carrot:           #e67e22;
@pumpkin:          #d35400;

@alizarin:         #e74c3c;
@pomegranate:      #c0392b;

@clouds:           #ecf0f1;
@silver:           #bdc3c7;

@concrete:         #95a5a6;
@asbestos:         #7f8c8d;


**/
/**
@baseColor1: #8e44ad; 
@baseColor2: #2c3e50;

**/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/*#627cb7*/
/**
 * Sidebar
 */
#sidebar-wrapper {
  background: #2a2f36;
}
ul.sidebar .sidebar-main a,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
ul.sidebar .sidebar-list a.active,
#page-wrapper:not(.active) ul.sidebar .sidebar-title.separator {
  /* Sidebar header and footer color */
  background: #262a30;
}
ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 45px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 250px;
}
ul.sidebar ul {
  padding: 0;
  margin: 0;
}
ul.sidebar li a {
  color: #ffffff;
  display: block;
  float: left;
  text-decoration: none;
  width: 100%;
}
ul.sidebar .sidebar-main {
  height: 65px;
}
ul.sidebar .sidebar-main a {
  font-size: 180%;
  line-height: 60px;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: .125rem;
}
ul.sidebar .sidebar-main .menu-icon {
  color: #00bff3;
  float: right;
  font-size: 18px;
  padding-right: 28px;
  line-height: 60px;
}
ul.sidebar .sidebar-title {
  color: #6d7a8c;
  font-size: 12px;
  height: 35px;
  line-height: 40px;
  text-transform: uppercase;
}
ul.sidebar .sidebar-list {
  height: 40px;
}
ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 100%;
  color: #ffffff;
  line-height: 40px;
}
ul.sidebar .sidebar-list a:hover,
ul.sidebar .sidebar-list a.active {
  color: #ffffff;
  border-left: 3px solid #e99d1a;
  text-indent: 22px;
}
ul.sidebar .sidebar-list a:hover .menu-icon,
ul.sidebar .sidebar-list a.active .menu-icon {
  text-indent: 25px;
}
ul.sidebar .sidebar-list .menu-icon {
  float: right;
  padding-right: 29px;
  line-height: 40px;
}
ul.sidebar .child-sidebar-list a {
  text-indent: 35px;
}
ul.sidebar .child-sidebar-list a:hover,
ul.sidebar .child-sidebar-list a.active {
  text-indent: 32px;
}
ul.sidebar .child-sidebar-list a:hover .menu-icon,
ul.sidebar .child-sidebar-list a.active .menu-icon {
  text-indent: 35px;
}
#page-wrapper:not(.active) ul {
  margin: 0px;
  padding: 0px;
}
#page-wrapper:not(.active) ul.sidebar {
  bottom: 0;
}
#page-wrapper:not(.active) ul.sidebar .sidebar-title {
  display: none;
}
#page-wrapper:not(.active) ul.sidebar .sidebar-title.separator {
  display: block;
  height: 2px;
  margin: 13px 0;
}
#page-wrapper:not(.active) ul.sidebar .sidebar-list a {
  text-indent: 25px;
}
#page-wrapper:not(.active) ul.sidebar .sidebar-list a:hover span,
#page-wrapper:not(.active) ul.sidebar .sidebar-list a.active span {
  border-left: 3px solid #e99d1a;
  text-indent: 22px;
}
#page-wrapper:not(.active) ul.sidebar .menu-icon {
  width: 70px;
}
#page-wrapper:not(.active) .sidebar-footer {
  display: none;
}
.sidebar-footer {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
.sidebar-footer div a {
  color: #ffffff;
  font-size: 12px;
  line-height: 43px;
}
.sidebar-footer div a:hover {
  color: #ffffff;
  text-decoration: none;
}
