<div class="container">
  <div class="row">
  		<div class='list-group gallery'>
              <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                  <a class="thumbnail fancybox" rel="ligthbox" href="">
                      <img class="img-responsive" alt="" src="img/matrix.png" width="320" height="200"  style="height: 200px" />
                      <div class='text-right'>
                          <small class='text-muted'>GE MCKinsey Matrix</small>
                      </div> <!-- text-right / end -->
                  </a>
              </div> <!-- col-6 / end -->
              <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                  <a class="thumbnail fancybox" rel="ligthbox" href="">
                      <img class="img-responsivedd" alt="" src="img/bubble.png" width="320" height="600" style="height: 200px" />
                      <div class='text-right'>
                          <small class='text-muted'>3 Dimenstional Bubble</small>
                      </div> <!-- text-right / end -->
                  </a>
              </div>
              <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                  <a class="thumbnail fancybox" rel="ligthbox" href="">
                      <img class="img-responsivedd" alt="" src="img/bar-chart.png" width="320" height="600" style="height: 200px" />
                      <div class='text-right'>
                          <small class='text-muted'>Bar Chart</small>
                      </div> <!-- text-right / end -->
                  </a>
              </div>
              <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                  <a class="thumbnail fancybox" rel="ligthbox" href="">
                      <img class="img-responsivedd" alt="" src="img/multi-line.png" width="320" height="600" style="height: 200px" />
                      <div class='text-right'>
                          <small class='text-muted'>Multi Line Chart</small>
                      </div> <!-- text-right / end -->
                  </a>
              </div>
              <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                  <a class="thumbnail fancybox" rel="ligthbox" href="">
                      <img class="img-responsivedd" alt="" src="img/map-2.png" width="320" height="600" style="height: 200px" />
                      <div class='text-right'>
                          <small class='text-muted'>Map</small>
                      </div> <!-- text-right / end -->
                  </a>
              </div>
              
          </div> <!-- list-group / end -->
  	</div> <!-- row / end -->
</div>
