<div class="container-" ng-if="model.modelType.id == '3-dimentional-bubble'">
  <div class="row" ng-if="ui.chartData">
    <!--
    <span class="dropdown" dropdown on-toggle="toggled(open)">

      <a href class="dropdown-toggle" dropdown-toggle>
        Click me for a dropdown, yo!
      </a>
      <ul class="dropdown-menu">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </span>
  -->

    <div class="col-xs-2 country-list">
      <h5>{{ model.name }}</h5>
      <ul>
        <li>Range : From {{ model.from | date:'yyyy'}} to {{ model.to | date:'yyyy'}}<li>
        <li>
            <a ng-click="ui.playing = !ui.playing"><span ng-if="!ui.playing"><i class="fa fa-play"></i> Play </span><span ng-if="ui.playing"><i class="fa fa-stop"></i> Stop </span></a>
        </li>
        <li>
          <a ui-sref="geomodel-create-model({id: model.id, type: 'copy'})"><i class="fa fa-copy"></i> Copy </a>
        </li>
        <li>
          <a ui-sref="geomodel-create-model({id: model.id})"><i class="fa fa-edit"></i> Update Data </a>
        </li>
        <li ng-repeat="country in model.geographies">
          <span class="flag {{country.code | lowercase }}" ng-click="toggleSelection(country.code_3)"></span>
          <span class="code" ng-click="toggleSelection(country.code_3)">{{ country.code_3 }}</span>
          <span class="name" ng-click="toggleSelection(country.code_3)">{{ country.name }}</span>

        </li>
      </ul>
    </div>
    <vs-model-chart class="col-xs-10"  data="ui.chartData" playing="ui.playing"></vs-model-chart>
    <div class="col-xs-12">
      <span id="min-time">{{ ui.chartData.axis.min }}</span>
      <input type="range" name="points" min="0" max="{{ ui.chartData.axis.max - ui.chartData.axis.min }}" step="1" value="0" id="slider-time" style="width:900px">
      <span id="max-time">{{ ui.chartData.axis.max}}</span>
    </div>
  </div>
</div>
<div class="container-" ng-if="model.modelType.id == 'ge-mckinsey'">
  <div class="row">
    <div class="col-xs-9">
    <h1>{{ model.name }}</h1>
  </div>
  <div class="col-xs-3">
    <a ui-sref="geomodel-create-model({id: model.id, type: 'copy'})" class="btn btn-primary pull-right"><i class="fa fa-copy"></i> Copy </a>
    <a ui-sref="geomodel-create-model({id: model.id})" class="btn btn-primary pull-right"><i class="fa fa-edit"></i> Update Data</a>
  </div>
  </div>
  <!--<matrix-chart class="col-xs-9 no-padding"  data="ui.chartData"></matrix-chart>-->
  <div class="row">
  <div class="col-xs-2">

  </div>
  <div class="col-xs-10">
    <geo-model-ge-matrix></geo-model-ge-matrix>
  </div>
  </div>
</div>

<style>

text {
  cursor: default;
}

h1 {
  font-weight: 400;
}

#chart {
  height: 506px;
}

text {
  font-size: 10px;
}

.dot {
  stroke: rgba(149, 165, 166,0.4);
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

.country.label  {
  font: 500 96px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

circle.pointTrajectory {
   pointer-events: none;
   stroke: lightgray;
   fill: black;
   opacity: 0;
}

path.lineTrajectory {
  stroke-width: 0;
  stroke-opacity: .5;
  stroke: black;
  fill: none;
  pointer-events: none;
}

.selected {
  stroke-width: 4;
}

</style>
