<!doctype html>
<html lang="en" ng-app="MRT">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Market Attractiveness Matrix</title>

        <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic' rel='stylesheet' type='text/css'>-->
        <!-- build:css lib/css/main.min.css -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" href="bower_components/ng-table/ng-table.css">
        <link rel="stylesheet" href="bower_components/ui-select/dist/select.css">
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/build/loading-bar.css">
        <link rel="stylesheet" type="text/css" href="bower_components/handsontable/dist/handsontable.full.css">
        <!-- endbuild --> 
        <link rel="stylesheet" href="css/mrt.min.css">

    </head>
    <body ng-controller="MasterCtrl" class="f16">
        <div id="page-wrapper" ng-class="{'active': toggle, 'logged-in': app.loggedIn}" ng-cloak>
            <!-- Sidebar -->
            <div id="sidebar-wrapper" ng-if="app.loggedIn === true">
                <ul class="sidebar">
                    <li class="sidebar-main">
                        <a ng-click="toggleSidebar()">
                            Dashboard
                            <span class="menu-icon glyphicon glyphicon-transfer"></span>
                        </a>
                    </li>
                    <li class="sidebar-title"><span>NAVIGATION</span></li> 
                    <li class="sidebar-list" ng-repeat="item in menu">
                        <a ui-sref="{{ item.ui_sref }}" ui-sref-active="active" ng-if="item.ui_sref">
                            {{ item.display }} 
                            <span class="{{ item.class }}"></span>
                        </a>
                        <a ng-if="item.menu" ng-click="expandMenu(item)"> 
                            {{ item.display }} 
                            <span class="{{ item.class }}"></span>
                            <ul class="children" ng-if="item.menu.length && item.expand">
                                 <li class="child-sidebar-list" ng-repeat="_item in item.menu">
                                    <a ui-sref="{{ _item.ui_sref }}" ui-sref-active="active" tooltip-placement="right" tooltip="{{ _item.display }}">
                                        {{ _item.display }} 
                                        <span class="{{ _item.class }}"></span>
                                    </a>
                                </li>
                            </ul>
                        </a>
                    </li> 
                </ul>
                <div class="sidebar-footer">
                    <div class="col-xs-4">
                        <a href="" target="_blank">
                            Manual
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#" target="_blank" active-link="active">
                            About
                        </a>
                    </div>
                    <div class="col-xs-4" active-link="active">
                        <a href="#">
                            Support
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->


            <div id="content-wrapper">
               

                <div class="page-content">

                    <!-- Header Bar -->

                    <div class="row header" ng-if="app.loggedIn == true">
                        <div class="col-xs-12">
                            <div class="user pull-right">
                                <div class="item dropdown">
                                    <a href="#" class="dropdown-toggle">
                                        <img src="img/avatar.jpg">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">
                                            Joe Bloggs
                                        </li>
                                        <li class="divider"></li>
                                        <li class="link">
                                            <a href="#">
                                                Profile
                                            </a>
                                        </li>
                                        <li class="link">
                                            <a href="#">
                                                Menu Item
                                            </a>
                                        </li>
                                        <li class="link">
                                            <a href="#">
                                                Menu Item
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="link">
                                            <a href="#">
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="item dropdown">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-bell-o"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">
                                            Notifications
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Server Down!</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="meta">
                                <div class="page">
                                    Dashboard
                                </div>
                                <div class="breadcrumb-links">
                                    Home / Dashboard
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Header Bar -->

                    <!-- Main Content -->
                    <section data-ui-view>

                    </section>

                </div><!-- End Page Content -->
            </div><!-- End Content Wrapper -->

            <div class="row footer">
                <div class="col-xs-12">
                    <hr />
                    <center>www.informedinvestor.com</center>
                </div>
            </div>


        </div><!-- End Page Wrapper -->
        <script type="text/ng-template" id="tables.html">
        </script>
        <!-- SCRIPTS -->
        <!-- build:js lib/js/main.min.js -->
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script src="bower_components/d3/d3.js"></script>
        <script src="bower_components/topojson/topojson.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/venturocket-angular-slider/build/angular-slider.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script type="text/javascript" src="bower_components/ng-table/ng-table.js"></script>
        <script type="text/javascript" src="bower_components/ui-select/dist/select.js"></script>
        <script type="text/javascript" src="bower_components/clusterio/dist/js/clusterio.js"></script>
        <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script type="text/javascript" src="bower_components/angular-cache/dist/angular-cache.js"></script>
        <script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/handsontable/dist/handsontable.full.js"></script>
        <script src="bower_components/nghandsontable/dist/ngHandsontable.js"></script>
        <!-- endbuild -->
        <!-- build:copy lib/js/echarts-all.js -->
        <<script type="text/javascript" src="bower_components/echarts/build/dist/echarts-all.js"></script>
        <!-- endbuild -->
        <!-- SCRIPTS -->
        <link rel="stylesheet" type="text/css" href="//cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
        <script type="text/javascript" src="js/mrt.min.js"></script>

        <script type="text/javascript" src="tpls/mrt-tpl.js"></script>
    </body>
</html>
