<div class="container">
  <div class="row">
    <div class="wizard">
      <a><span class="badge">1</span> Create Model</a>
      <a><span class="badge">2</span> Select Countries</a>
      <a class="current"><span class="badge badge-inverse">3</span> Select Indicators</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-3" style="padding-left: 0px;">
      <!--
      <div class="col-xs-12">

      <form class="form-inline">
      <div class="form-group">
      <label>
      <input type="radio" ng-model="options.selectType" value="group">
      Indicator Groups
      </label>
      </div>
      <div class="form-group">
      <label>
      <input type="radio" ng-model="options.selectType" value="indicator">
      Indicators
      </label>
      </div>
      </form>
      </div>
      -->
      <div class="group-selection" ng-if="options.selectType == 'group'">
        <div class="col-xs-12 pull-right" style="padding-left: 0px;">
          <input class="form-control" ng-focus="inputFocus = true" ng-model="groupFilter.name" type="text" placeholder="Search indicator groups">
        </div>

        <div class="indicator-list" ng-show="inputFocus" style="position: absolute; top: 30px; width: 350px; background-color: rgba(255, 255, 255, 0.90); z-index: 1000; height: auto; ">
          <ul>
            <li ng-click="inputFocus = false">
              &nbsp;
              <span class="pull-right"> Close </span>
            </li>
            <li ng-repeat="row in data.groups | filter:groupFilter | orderBy:predicate:reverse">
              <span class="name" ng-click="toggleGroupExpand(row)">{{ row.name }}</span>
              <span class="pull-right">

              <span class="name dropdown" dropdown on-toggle="toggled(open)">
                <i class="fa fa-plus-circle pointer dropdown-toggle" dropdown-toggle></i>
                <ul class="dropdown-menu" style="z-index: 2500">
                  <li ng-repeat="dimension in model.modelType.dimensions">
                    <a ng-click="copyIndicatorGroup(row, dimension)">{{ dimension.name }}</a>
                  </li>
                </ul>
              </span>
              </span>
              <ul ng-if="row.expand == true">
                <li ng-repeat="indicator in row.children" style="margin-left: 15px">
                  <span class="name dropdown" dropdown on-toggle="toggled(open)">
                    <a href class="dropdown-toggle" dropdown-toggle>
                      {{ indicator.name }}
                    </a>
                    <ul class="dropdown-menu">
                      <li ng-repeat="group in model.indicators">
                        <a ng-click="addIndicatorToGroup(indicator, group)">{{ group.name }}</a>
                      </li>
                    </ul>
                  </span>

                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="selected-indicator">
        <div class="col-xs-12 list no-padding" style="height: 550px; overflow: scroll">
          <div ng-repeat="dimension in model.modelType.dimensions" class="border-bottom">
            <div class="pull-left col-xs-10 no-padding">
            <h4>
              <input popover="Click to edit" popover-trigger="mouseenter" ng-model="dimension.name" class="contenteditable header-input" style="width: 100%" />
            </h4>
          </div>
            <div class="pull-left col-xs-2 no-padding"><input type="text" ng-model="dimension.weight" class="weight" style="margin-top: 10px" /> % </div>
            <div class="col-xs-12 menu no-padding border-bottom">
              <span ng-click="addIndicatorGroupToDimension(dimension)" class="menu-item pull-right"><i class="fa fa-plus-circle pointer"></i> Add Group </span>
            </div>
          <ul>
            <li ng-repeat="row in model.indicators | filter:{ dimension: dimension.id }" class="">
              <div class="pull-left no-padding header col-xs-10" ng-mouseleave="row.hover = false" ng-mouseover="row.hover = true" ng-init="row.hover=false">
                <span class="" ng-show="row.hover"> <i class="fa fa-remove" popover="Click to remove" popover-trigger="mouseenter" ng-click="remove(model.indicators, row)"></i> </span>

                <span class=""><input popover="Click to edit" popover-trigger="mouseenter" ng-model="row.name" class="contenteditable header-input" style="width: 90%" /><span>
            </div>
              <ul>
                <li ng-repeat="indicator in row.indicators" class="row hover indicator-row" ng-mouseleave="indicator.hover = false" ng-mouseover="indicator.hover = true" ng-init="indicator.hover=false">
                  <div class="pull-left col-xs-10 no-padding highlight">
                    <span class="" ng-show="indicator.loading"><i class="fa fa-circle-o-notch fa-spin color"></i></span>
                    <span class="name dropdown" dropdown on-toggle="toggled(open)">
                      <span class="" ng-show="indicator.loaded" class="dropdown-toggle" dropdown-toggle>
                        <i class="fa fa-dot-circle-o color"></i>
                      </span>
                      <ul class="dropdown-menu">
                        <li ng-click="remove(row.indicators, indicator)">
                          <a> Remove Indicator </a>
                        </li>
                      </ul>
                    </span>
                    <span class="color" ng-if="indicator.summary.completion !== 'undefined'">
                      ({{ indicator.summary.completion | number : 2 }}%)
                    </span>
                    <span ng-click="selectIndicator(indicator)">
                      {{ indicator.name }}
                    </span>

                  </div>
                  <div class="pull-left col-xs-2 no-padding"><input type="text" ng-model="indicator.weight" class="weight" />  % </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="table-display" ng-if="selectedIndicator.id">
        <div>
          <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="From" ng-model="selectedIndicator.from">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="To" ng-model="selectedIndicator.to">
  </div>
  <button type="submit" class="btn btn-default btn-primary" ng-click="getValues(selectedIndicator.geographies, selectedIndicator)">Reload</button>
</form>
        </div>
        <indicator-table-display indicator="selectedIndicator" dates="selectedIndicator.dates" data="selectedIndicator.geographies"></indicator-table-display>
      </div>
      <div ng-if="!selectedIndicator.id">
        <alert type="info"> Click indicators to display data here </alert>
      </div>

    </div>
    <div class="col-xs-12">
      <span class="btn btn-success pull-left" ng-click="back()">Back (Select Countries)</span>
      <span class="btn btn-success pull-right" ng-click="next()">Save (Locally)</span>
    </div>
  </div>
</div>
