<div class="container">
  <div class="row">
    <div class="wizard">
      <a><span class="badge">1</span> Create Model</a>
      <a class="current"><span class="badge badge-inverse">2</span> Select Countries</a>
      <a><span class="badge">3</span> Select Indicators</a>
    </div>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-xs-3">
    <div class="col-xs-12">

      <form class="form-inline">
        <div class="form-group">
          <label>
            <input type="radio" ng-model="options.selectType" value="group">
            Country Groups
          </label>
        </div>
        <div class="form-group">
          <label>
            <input type="radio" ng-model="options.selectType" value="country">
            Countries
          </label>
        </div>
      </form>
    </div>

    <div class="group-selection" ng-if="options.selectType == 'group'">
      <div class="col-xs-12 pull-right">
        <input class="form-control" ng-model="groupFilter.name" type="text" placeholder="Search country groups">
      </div>
      <div class="country-list">
        <ul>
          <li ng-repeat="row in data.geogroups | filter:groupFilter | orderBy:predicate:reverse">
            <span>
              <input type="checkbox" ng-model="row.selected" value="true" ng-change="toggleGroupSelect(row)" />
            </span>
            <span class="name" ng-click="toggleGroupExpand(row)">{{ row.name }}</span>
            <span class="pull-right">{{ countSelected(row) }}</span>
            <ul ng-if="row.expand == true">
              <li ng-repeat="country in row.children" style="margin-left: 15px">
                <span>
                  <input type="checkbox" ng-model="country.selected" />
                </span>
                <span class="flag {{country.code | lowercase }}" ng-click="toggleSelection(country.code_3)"></span>
                <span class="code" ng-click="toggleSelection(country.code_3)">{{ country.code_3 }}</span>
                <span class="name" ng-click="toggleSelection(country.code_3)">{{ country.name }}</span>

              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>


    <div class="country-selection" ng-if="options.selectType == 'country'">
    <div class="col-xs-12 pull-right">
      <input class="form-control" ng-model="filterText" type="text" placeholder="Search countries" />
    </div>
    <div class="country-list">
      <ul>
        <li ng-repeat="row in data.geographies | filter:filterText | orderBy:predicate:reverse" ng-click="toggleSelection(row.code_3)">
          <span>
            <input type="checkbox" ng-model="row.selected" />
          </span>
          <span class="flag {{row.code | lowercase }}"></span>
          <span class="code">{{ row.code_3 }}</span>
          <span class="name">{{ row.name }}</span>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="col-xs-9">

    <div class="col-xs-12">
      <button class="btn btn-default pull-right" ng-click="clear()">Clear</button>
    </div>
    <div class="col-xs-12" d3-map-chart options="chartOptions" click-event="toggleSelection">

    </div>

  </div>
  <div class="col-xs-12">
    <span class="btn btn-success pull-left" ng-click="go('geomodel-create-model')">Back</span>
    <span class="btn btn-success pull-right" ng-click="go('geomodel-create-indicator-selection')">Next (Select Indicators)</span>
  </div>
</div>
</div>
