<table class="table matrix table table-bordered">
    <tr class="header">
        <td class="col-xs-4" colspan="2" rowspan="2">
             
         </td>
         <td class="col-xs-4" colspan="3">
             {{ getParameterByAxis('x').name }}
         </td>
     </tr>
     <tr class="header">

         <td class="col-xs-4">
             Low
         </td>
         <td class="col-xs-4">
             Medium
         </td>
         <td class="col-xs-4">
             High
         </td>
     </tr>
    <tr>
        <td class="header" rowspan="3"><span class="rotate">{{ getParameterByAxis('y').name }}</span></td>
        <td class="header"><span class="rotate">High</span></td>
               <td class="col-xs-4 pos-1-3">
            <span class="label label-default repeated-item" ng-repeat="geography in data.values.geographies | filter : {xAxis: 1, yAxis: 3}">
                {{ geography.name }}
            </span>
        </td>
        <td class="col-xs-4 pos-2-3">
            <span class="label label-default repeated-item" ng-repeat="geography in data.values.geographies | filter : {xAxis: 2, yAxis: 3}">
                {{ geography.name }}
            </span>
        </td>

         <td class="col-xs-4 pos-3-3">
            <span class="label label-default repeated-item" ng-repeat="geography in data.values.geographies | filter : {xAxis: 3, yAxis: 3}">
                {{ geography.name }}
            </span>
        </td>
    </tr>
    <tr>
        <td class="header"><span class="rotate">Medium</span></td>
        <td class="col-xs-4 pos-1-2">
            <span class="label label-default repeated-item" ng-repeat="geography in data.values.geographies | filter : {xAxis: 1, yAxis: 2}">
                {{ geography.name }}
            </span>
        </td>
        <td class="col-xs-4 pos-2-2">
            <span class="label label-default repeated-item" ng-repeat="geography in data.values.geographies | filter : {xAxis: 2, yAxis: 2}">
                {{ geography.name }}
            </span>
        </td>
       

         <td class="col-xs-4 pos-3-2">
            <span class="label label-default repeated-item" ng-repeat="geography in data.values.geographies | filter : {xAxis: 3, yAxis: 2}">
                {{ geography.name }}
            </span>
        </td>
    </tr>
    <tr>
        <td class="header"><span class="rotate">Low</span></td>
                <td class="col-xs-4 pos-1-1">
            <span class="label label-default repeated-item" ng-repeat="geography in data.values.geographies | filter : {xAxis: 1, yAxis: 1}">
                {{ geography.name }}
            </span>
        </td>
        <td class="col-xs-4 pos-2-1">
            <span class="label label-default" ng-repeat="geography in data.values.geographies | filter : {xAxis: 2, yAxis: 1}">
                {{ geography.name }}
            </span>
        </td>

        <td class="col-xs-4 pos-3-1">
            <span class="label label-default repeated-item" ng-repeat="geography in data.values.geographies | filter : {xAxis: 3, yAxis: 1}">
                {{ geography.name }}
            </span>
        </td>
    </tr>
</table>